java:
  applicationPort: 8800
  ingressHost: draft-store-service-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
  aadIdentityName: rpe
  environment:
    DRAFT_STORE_DB_CONN_OPTIONS: ?sslmode=require
    DRAFT_STORE_DB_HOST: rpe-draft-store-{{ .Values.global.environment }}.postgres.database.azure.com
    DRAFT_STORE_DB_NAME: draftstore
    DRAFT_STORE_DB_PORT: '5432'
    DRAFT_STORE_DB_USER_NAME: draftstore@rpe-draft-store-{{ .Values.global.environment }}
    RUN_DB_MIGRATION_ON_STARTUP: 'false'
    IDAM_URL: https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net
    S2S_URL: http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    LOGBACK_REQUIRE_ALERT_LEVEL: 'false'
    LOGBACK_REQUIRE_ERROR_CODE: 'false'
  image: 'hmctspublic.azurecr.io/draft-store/service:latest'
  keyVaults:
    "draft-store":
      secrets:
        - service-POSTGRES-PASS
