sudo: required
language: java
services:
  - docker
jdk:
  - oraclejdk8
os:
  - linux
before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
before_install:
  - sudo apt-get install jq
  - wget -O ~/codacy-coverage-reporter-assembly-latest.jar $(curl https://api.github.com/repos/codacy/codacy-coverage-reporter/releases/latest | jq -r .assets[0].browser_download_url)
  - docker build -t "draft-store-database:latest" ./docker/database/
  - docker run --name draft-store-database -d -e DRAFT_STORE_DB_PASSWORD=$DRAFT_STORE_DB_PASSWORD -p $DRAFT_STORE_DB_PORT:5432 draft-store-database:latest
script:
  - ./gradlew installDist
  - ./gradlew build
  - ./gradlew test
  - ./gradlew functionalTest
  - ./gradlew jacocoTestReport
after_success:
  - java -cp ~/codacy-coverage-reporter-assembly-latest.jar com.codacy.CodacyCoverageReporter -l Java -r build/reports/jacoco/test/jacocoTestReport.xml
  - bash publish-swagger-docs.sh
