logging:
  level:
    ROOT: info

spring:
  application:
    name: HMCTS Draft Store
  datasource:
    url: jdbc:postgresql://${DRAFT_STORE_DB_HOST:localhost}:5432/draftstore
    username: draftstore
    password: ${DRAFT_STORE_DB_PASSWORD:}
    properties:
      charSet: UTF-8
    maxWaitForConnection: 1
    minSize: 8
    maxSize: 32
    evictionInterval: 10
    minIdleTime: 1 minute
    checkConnectionWhileIdle: true
    checkConnectionOnReturn: true
    removeAbandoned: true
    removeAbandonedTimeout: 60
    abandonWhenPercentageFull: 0
    testOnBorrow: true
    validationQuery: SELECT 1
  mvc:
    throw-exception-if-no-handler-found: true
  resources:
    add-mappings: false

server:
  port: 8800

management:
  security:
    enabled: false

info:
  app:
    name: ${spring.application.name}

---
spring:
  profiles: test
  datasource:
    url: jdbc:postgresql://localhost:5428/draftstore
    password: ${DRAFT_STORE_DB_PASSWORD:}

---
spring:
  profiles: test-unhandled-exception
  datasource:
    url: jdbc:postgresql://localhost:5428/draftstore
    password: ${DRAFT_STORE_DB_PASSWORD:}
