logging:
  level:
    ROOT: info

spring:
  application:
    name: HMCTS Draft Store
  datasource:
    url: jdbc:postgresql://${DRAFT_STORE_DB_HOST:localhost}:${DRAFT_STORE_DB_PORT:5432}/${DRAFT_STORE_DB_NAME:draftstore}${DRAFT_STORE_DB_CONN_OPTIONS:}
    username: ${DRAFT_STORE_DB_USER_NAME:draftstore}
    password: ${DRAFT_STORE_DB_PASSWORD:}
    properties:
      charSet: UTF-8
    maxWaitForConnection: 1
    minSize: 8
    maxSize: 32
    evictionInterval: 10
    minIdleTime: 1 minute
    checkConnectionWhileIdle: true
    checkConnectionOnReturn: true
    removeAbandoned: true
    removeAbandonedTimeout: 60
    abandonWhenPercentageFull: 0
    testOnBorrow: true
    validationQuery: SELECT 1
  mvc:
    throw-exception-if-no-handler-found: true

server:
  port: 8800

management:
  security:
    enabled: false

info:
  app:
    name: ${spring.application.name}

idam:
  url: ${IDAM_URL:}
  useStub: ${IDAM_USE_STUB:false}

s2s:
  url: ${S2S_URL:}
  useStub: ${S2S_USER_STUB:false}

maxStaleDays:
  default: ${MAX_STALE_DAYS_DEFAULT:90}
  cron: ${MAX_STALE_DAYS_CRON:0 0 3 * * *}

---
spring:
  profiles: test
  datasource:
    url: jdbc:postgresql://localhost:${DRAFT_STORE_DB_PORT:5432}/draftstore
    password: ${DRAFT_STORE_DB_PASSWORD:}

---
spring:
  profiles: test-unhandled-exception
  datasource:
    url: jdbc:postgresql://localhost:${DRAFT_STORE_DB_PORT:5432}/draftstore
    password: ${DRAFT_STORE_DB_PASSWORD:}
idam:
  useStub: true
